# folders
.app/
.dev/
.idea/
.venv/
.venv_dev/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.egg-info
bin/
build/
cmake*/
dist/
obj/
target/

# files
*.exe
*.h5
*.pgn
*.pyc
*.pyo
.coverage
Cargo.lock
