
.vscode/launch.json
__pycache__/board.cpython-37.pyc
__pycache__/getchF.cpython-37.pyc
__pycache__/main.cpython-37.pyc
__pycache__/testing.cpython-37.pyc
__pycache__/tt.cpython-37.pyc
emulator/.vs/emulator/v15/.suo
emulator/.vs/emulator/v15/Browse.VC.db
emulator/.vs/emulator/v15/ipch/3de7cfd114bb7a06.ipch
emulator/.vs/emulator/v15/ipch/6baaa6db04d7f056.ipch
testing.py
